<!DOCTYPE html>
<html>

<head>

</head>

<body>
  {{>header}}
<p>This Site was created by Amit Cohen. It uses data from mapbox.com and darksky.net</p>
   <a href="https://www.one.co.il">To sports site</a>
    {{>footer}}
</body>
</html>